extends layout
block head_bar
    include top_bar
block side_bar
    include side_bar
block content
    //
      **********************************************************************************************************************************************************
      MAIN CONTENT
      ***********************************************************************************************************************************************************
    // main content start
    .content-wrapper#main-content
    // /.content-wrapper
    // main content end
block footer
    include footer
