// footer start
footer.main-footer
    // To the right
    .pull-right.hidden-xs
        | Muhamamad Alif Akbar
    // Default to the left
    strong
        | Copyright © 2017
        a(href='#')  JANTUNG
        | .
    |  Telkom University.
// footer end