// Content Header (Page header)
section.content-header
	h1
		| Dashboard
		small Doctor All Recap
// Main content
section.content
	// Info boxes
	.row
		.col-md-3.col-sm-6.col-xs-12
			.info-box
				span.info-box-icon.bg-yellow
					i.ion.ion-ios-people-outline
				.info-box-content
					span.info-box-text Your Total Patient
					span.info-box-number= total
				// /.info-box-content
			// /.info-box
		// /.col
		.col-md-3.col-sm-6.col-xs-12
			.info-box
				span.info-box-icon.bg-aqua
					i.fa.fa-arrow-up
				.info-box-content
					span.info-box-text Active Patient
					span.info-box-number 0
				// /.info-box-content
			// /.info-box
		// /.col
		.col-md-3.col-sm-6.col-xs-12
			.info-box
				span.info-box-icon.bg-red
					i.fa.fa-exclamation
				.info-box-content
					span.info-box-text This Month Warning
					span.info-box-number 0
				// /.info-box-content
			// /.info-box
		// /.col
		// fix for small devices only
		.clearfix.visible-sm-block
		.col-md-3.col-sm-6.col-xs-12
			.info-box
				span.info-box-icon.bg-green
					i.fa.fa-book
				.info-box-content
					span.info-box-text Last Month Warning
					span.info-box-number 0
				// /.info-box-content
			// /.info-box
		// /.col		
	// /.row
	.row
		.col-md-6
			// USERS LIST
			.box.box-danger.collapsed-box
				.box-header.with-border
					h3.box-title Latest Members
					.box-tools.pull-right
						span.label.label-danger 8 New Members
						button.btn.btn-box-tool(type='button', data-widget='collapse')
							i.fa.fa-minus
						button.btn.btn-box-tool(type='button', data-widget='remove')
							i.fa.fa-times
				// /.box-header
				.box-body.no-padding
					ul.users-list.clearfix
						li
							img(src='dist/img/user1-128x128.jpg', alt='User Image')
							a.users-list-name(href='#') Alexander Pierce
							span.users-list-date Today
						li
							img(src='dist/img/user8-128x128.jpg', alt='User Image')
							a.users-list-name(href='#') Norman
							span.users-list-date Yesterday
						li
							img(src='dist/img/user7-128x128.jpg', alt='User Image')
							a.users-list-name(href='#') Jane
							span.users-list-date 12 Jan
						li
							img(src='dist/img/user6-128x128.jpg', alt='User Image')
							a.users-list-name(href='#') John
							span.users-list-date 12 Jan
						li
							img(src='dist/img/user2-160x160.jpg', alt='User Image')
							a.users-list-name(href='#') Alexander
							span.users-list-date 13 Jan
						li
							img(src='dist/img/user5-128x128.jpg', alt='User Image')
							a.users-list-name(href='#') Sarah
							span.users-list-date 14 Jan
						li
							img(src='dist/img/user4-128x128.jpg', alt='User Image')
							a.users-list-name(href='#') Nora
							span.users-list-date 15 Jan
						li
							img(src='dist/img/user3-128x128.jpg', alt='User Image')
							a.users-list-name(href='#') Nadia
							span.users-list-date 15 Jan
					// /.users-list
				// /.box-body
				.box-footer.text-center
					a.uppercase(href= 'javascript: handleSideBarClick("menu-patient-list", "#menu-patient")') View All Users
				// /.box-footer
			// /.box
		// /.col



// /.content