//
   Created by maakbar on 5/30/17.

// Content Header (Page header)
section.content-header
    h1
        | Monitor Patient
        small Show patient heart activity
    ol.breadcrumb
        li
            i.fa.fa-dashboard  Patient
        li.active List
        li.active Monitor

section.content
    .row
    .col-md-4
        .box.box-widget.widget-user-2
            // Add the bg color to the header using any of the bg-* classes
            .widget-user-header.bg-blue
                .widget-user-image
                    img.img-circle(src='/dist/img/user1-128x128.jpg', alt='User Avatar', style='margin-top: 10px;')
                // /.widget-user-image
                h3.widget-user-username= patient.full_name
                if patient.my_phone
                    h5.widget-user-desc= patient.address + ' - ' + patient.my_phone
                else
                    h5.widget-user-desc= patient.address
                h5.widget-user-desc#patient-device-id= 'Device ID: ' + patient.device_id
            .box-footer.no-padding
                ul.nav.nav-stacked
                    li                    
                        a    
                            | BPM
                            span.pull-right.badge.bg-blue Normal
                    li      
                        a                  
                            | PVC
                            span.pull-right.badge.bg-aqua 0
                    li       
                        a             
                            | VF
                            span.pull-right.badge.bg-red 0
                    li       
                        a                 
                            | Heart Block II
                            span.pull-right.badge.bg-green 0

    // /.col
    .col-md-8
        // Area chart
        .box.box-primary
            .box-header.with-border
                i.fa.fa-bar-chart-o
                h3.box-title Heart Signal                
                .box-tools.pull-right
                    button.btn.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
                    button.btn.btn-box-tool(type='button', data-widget='remove')
                        i.fa.fa-times
            .box-body
                #heart-chart.full-width-chart(style='height: 400px;')
                span.pull-right.badge.bg-blue
                    h5#patient-bpm.widget-user-desc BPM: 00                
            // /.box-body
        // /.box
    // /.col
