extends layout
block head_bar
    include top_bar
block side_bar
    include side_bar
block content
    //
      **********************************************************************************************************************************************************
      MAIN CONTENT
      ***********************************************************************************************************************************************************
    // main content start
    section#main-content
        section.wrapper.site-min-height
            h3
                i.fa.fa-angle-right
                |  Blank Page
            .row.mt
                .col-lg-12
                    p Place your content here.
        // /wrapper
    // /MAIN CONTENT
    // main content end
block footer
    include footer

script
