doctype html
html(lang='en')
    head
        // Bootstrap core CSS
        link(href='/css/bootstrap.css', rel='stylesheet')
        // external css
        link(href='/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/assets/css/style.css', rel='stylesheet')
        link(href='/assets/css/style-responsive.css', rel='stylesheet')
        script(src='/assets/js/jquery.js', type='text/javascript')
        script(src='/js/bootstrap.min.js', type='text/javascript')
    body
        section#main-content
            section.wrapper.site-min-height.form-panel.content-body
                h4.mb(align='center') Login
                form.form-horizontal.style-form(method='post', action='http://localhost/web/login_c/login_')
                    div.form-group
                        label.col-sm-2.col-sm-2.control-label.col-sm-6 Username
                        input.form-control(type='text', name='username').form-group
                        label.col-sm-2.col-sm-2.control-label.col-sm-6 Password
                        input.form-control(type='password', name='password')
                    div.form-group
                        label.col-sm-2.control-label.col-sm-12.col-sm-offset-3.pull-right
                        button.btn.btn-theme04(type='submit') Login


        script(src='assets/js/jquery-ui-1.9.2.custom.min.js')
        script(src='assets/js/jquery.ui.touch-punch.min.js')
        script(src='assets/js/jquery.scrollTo.min.js')
        script(src='assets/js/jquery.nicescroll.js', type='text/javascript')
