extends layout

block content
    <!DOCTYPE html>
    <html lang="en">
    <head>

    <title>Registration | PAC Detection</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/animate.min.css" rel="stylesheet"/>

    </head>
    <body>


    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="account-wall">
    <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="login">
    <!--<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"-->
    <!--alt="">-->
    <h3 class="text-center"> Register a Doctor </h3>
    <form class="form-signin" action="" method="post">
    <input name="name" type="text" class="form-control" placeholder="Full Name" required autofocus>
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" />
    </form>
    <div id="tabs" data-tabs="tabs">
    <p class="text-center"><a href="/login" data-toggle="tab">Already have an account?</a></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </body>
    </html>