//
  **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  ***********************************************************************************************************************************************************
// header start
header.header.black-bg
    .sidebar-toggle-box
        .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
    // logo start
    a.logo(href='index.html')
        b= title
// header end
